[Unit]
Description=App server on app@%i etcd registration

# Requirements
Requires=etcd2.service
Requires=app@%i.service

# Dependency ordering and binding
After=etcd2.service
After=app@%i.service
BindsTo=app@%i.service

[Service]
Restart=always
RestartSec=20s
TimeoutStartSec=0

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Start
## Test whether service is accessible and then register useful information
ExecStart=/bin/bash -c '\
  while true; do \
    curl -f ${COREOS_PRIVATE_IPV4}:%i; \
    if [ $? -eq 0 ]; then \
      etcdctl set /services/app/${COREOS_PRIVATE_IPV4} \'${COREOS_PRIVATE_IPV4}:%i\' --ttl 30; \
    else \
      etcdctl rm /services/app/${COREOS_PRIVATE_IPV4}; \
    fi; \
    sleep 20; \
  done'

# Stop
ExecStop=/usr/bin/etcdctl rm /services/app/${COREOS_PRIVATE_IPV4}

[X-Fleet]
# Schedule on the same machine as the associated App service
MachineOf=app@%i.service
