[Unit]
Description=Application Frontend: [%p%i : %n] - (%H:%i)

#################
### REQUIREMENTS
Requires=etcd2.service
Requires=docker.service
#################


#################
### DEPENDENCIES
After=etcd2.service
After=docker.service
Before=app-discovery@%i.service
#################


[Service]
Restart=always
RestartSec=20s
TimeoutStartSec=0

# Change killmode "control-group" -> "none" to let Docker remove work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

##########
### START
ExecStartPre=-/usr/bin/docker rm sinatra%i src%i
ExecStartPre=-/usr/bin/docker kill sinatra%i src%i
ExecStartPre=-/usr/bin/docker pull ruby:2.3.0
ExecStartPre=/usr/bin/docker build --rm -t sinatra-image /app
ExecStart=/usr/bin/docker run --name sinatra%i -p %i:9292 sinatra-image
##########


#########
### STOP
ExecStop=/usr/bin/docker stop sinatra%i
##########


[X-Fleet]
Conflicts=app@*.service
