[Unit]
Description=Image Preloader: [%p%i : %n] - (%H:%i)

#################
### REQUIREMENTS
Requires=docker.service
#################


#################
### DEPENDENCIES
After=docker.service
#################


[Service]
Restart=always
RestartSec=600s
TimeoutStartSec=0

# Change killmode "control-group" -> "none" to let Docker remove work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

##########
### START
ExecStartPre=-/usr/bin/docker rm %p%i
ExecStartPre=-/usr/bin/docker kill %p%i
ExecStartPre=-/usr/bin/docker pull ruby:2.3.0
ExecStartPre=-/usr/bin/docker pull ubuntu:14.04
ExecStartPre=-/usr/bin/docker pull busybox

ExecStart=-/usr/bin/docker run --name %p%i busybox true
##########


#########
### STOP
ExecStop=/usr/bin/docker stop %p%i
##########


[X-Fleet]
Conflicts=%p@*.service


[Install]
WantedBy=multi-user.target
